<footer>
    <ul>
        <li (click)="menuActive($event)">
            <img src="../../../assets/images/homeActive.svg" alt="Icone de home">
            <span>Início</span>
        </li>
        <li>
            <img src="../../../assets/images/wallet.svg" alt="Icone de home">
            <span>Carteira</span>
        </li>
        <li class="footerPay">
            <div>
                <img src="../../../assets/images/money.svg" alt="Icone de pagar">
            </div>
            <span>Pagar</span>
        </li>
        <li>
            <img src="../../../assets/images/notification.svg" alt="Icone de notificações">
            <span>Notificações</span>
        </li>
        <li>
            <img src="../../../assets/images/bag.svg" alt="Icone de bolsa">
            <span>Shop</span>
        </li>
    </ul>
</footer>