$Color-primary: #21C25E;
$GreyScale-900: #C4C4C4;
$GreyScale-300: #737373;
$GreyScale-100: #323232;
$Money-value: #228662;

$text-regular-10: 1rem;
$text-regular-12: 1.2rem;
$text-regular-14: 1.4rem;
$text-regular-18: 1.8rem;
$text-regular-24: 2.4rem;
$text-regular-34: 3.4rem;